@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    height: 50%;
}
nav a{
    border-radius: 2rem;
    transition-property: background;
    transition-duration: 300ms;
    
}
nav a:hover{
    background: rgb(0 0 0 /.2);
    
}
#logo{
    object-fit: contain;
}